DAES.Infrastructure/Connected Services/FirmaElock/soapfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://impl.soap.com/" targetNamespace="http://impl.soap.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="signBase64EncodedResponse" type="tns:signBase64EncodedResponse" />
  <xs:element name="signFileResponse" type="tns:signFileResponse" />
  <xs:element name="signerInfo" type="tns:signerInfo" />
  <xs:complexType name="signerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="signer" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signFileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signBase64EncodedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>