DAES.Infrastructure/Connected Services/HSMService/WSIntercambiaDoc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.e-sign.cl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.e-sign.cl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.e-sign.cl/">
      <s:element name="IntercambiaDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Encabezado" type="tns:EncabezadoRequest" />
            <s:element minOccurs="1" maxOccurs="1" name="Parametro" type="tns:DocumentoParametro" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EncabezadoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoIntercambio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreConfiguracion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormatoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RespuestaEsperada" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DocumentoParametro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MetaData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IntercambiaDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IntercambiaDocResult" type="tns:EncabezadoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EncabezadoResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormatoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MantencionDeSistema">
        <s:complexType />
      </s:element>
      <s:element name="MantencionDeSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MantencionDeSistemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IntercambiaDocSoapIn">
    <wsdl:part name="parameters" element="tns:IntercambiaDoc" />
  </wsdl:message>
  <wsdl:message name="IntercambiaDocSoapOut">
    <wsdl:part name="parameters" element="tns:IntercambiaDocResponse" />
  </wsdl:message>
  <wsdl:message name="MantencionDeSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:MantencionDeSistema" />
  </wsdl:message>
  <wsdl:message name="MantencionDeSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:MantencionDeSistemaResponse" />
  </wsdl:message>
  <wsdl:portType name="WSIntercambiaDocSoap">
    <wsdl:operation name="IntercambiaDoc">
      <wsdl:input message="tns:IntercambiaDocSoapIn" />
      <wsdl:output message="tns:IntercambiaDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MantencionDeSistema">
      <wsdl:input message="tns:MantencionDeSistemaSoapIn" />
      <wsdl:output message="tns:MantencionDeSistemaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSIntercambiaDocSoap" type="tns:WSIntercambiaDocSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntercambiaDoc">
      <soap:operation soapAction="http://www.e-sign.cl/IntercambiaDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MantencionDeSistema">
      <soap:operation soapAction="http://www.e-sign.cl/MantencionDeSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSIntercambiaDocSoap12" type="tns:WSIntercambiaDocSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IntercambiaDoc">
      <soap12:operation soapAction="http://www.e-sign.cl/IntercambiaDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MantencionDeSistema">
      <soap12:operation soapAction="http://www.e-sign.cl/MantencionDeSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSIntercambiaDoc">
    <wsdl:port name="WSIntercambiaDocSoap" binding="tns:WSIntercambiaDocSoap">
      <soap:address location="http://10.159.187.12:8082/WSIntercambiaDoc.asmx" />
    </wsdl:port>
    <wsdl:port name="WSIntercambiaDocSoap12" binding="tns:WSIntercambiaDocSoap12">
      <soap12:address location="http://10.159.187.12:8082/WSIntercambiaDoc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>